#hero {
    height: calc(100vh - 80px);
}

#hero::after {
    content: url('../img/circulo1.svg');
    zoom: 100%;
    position: absolute;
    right: -15%;
    top: 60%;
    z-index: -100;
}

#container_hero {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#container_hero>h1 {
    font-size: 2.8em;
    font-weight: var(--semibold);
    color: var(--grey-primary);
    text-align: center;
}

#container_hero>h1::after {
    content: url('../img/cobrinha.svg');
    zoom: 100%;
    position: relative;
    top: -25px;
}

#container_hero>p {
    font-size: 1.5em;
    font-weight: var(--regular);
    color: var(--grey-primary);
    text-align: center;
    width: 100%;
    max-width: 750px;
    margin-top: -1rem;
}

#container_hero>p>span {
    font-weight: var(--medium);
    color: var(--grey-primary);
}

#projetos {
    padding-bottom: 8rem;
}

#container_projetos {
    text-align: center;
}

.cards_projetos {
    flex-wrap: wrap;
}

#container_projetos>h2, #container_conteudo>h2 {
    color: var(--grey-primary);
    font-size: 2em;
    font-weight: var(--medium);
    margin-bottom: 4rem;
}

.card_projeto {
    padding: 1.2rem 0.6rem;
    flex-direction: column;
    border-radius: 5px;
    width: 33%;
    max-width: 465px;
    outline: 2px solid var(--grey-primary);
}

.card_projeto-textos {
    margin-bottom: 2rem;
    flex-direction: column;
}

.card_projeto-textos>h3 {
    font-weight: var(--semibold);
    font-size: 1.3em;
    margin-bottom: 1rem;
    width: 95%;
}

.card_projeto-textos>p, .card_projeto-btn>p {
    font-weight: var(--regular);
    font-size: 1em;
}

.card_projeto-textos>p {
    width: 90%;
}

#conteudo {
    padding: 8rem 0;
}

#conteudo::after {
    content: url('../img/circulo2.svg');
    zoom: 100%;
    position: absolute;
    left: -15%;
    top: 200%;
    z-index: -100;
}

#container_conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container_conteudo>object {
    max-width: 1300px;
    width: 100%;
}

#cabecalho_conteudo {
    flex-direction: column;
}