@media screen and (max-width: 1577px) {
    .card_projeto{
        max-width: 350px;
    }
}
@media screen and (max-width: 1194px) {
    .card_projeto{
        max-width: 320px;
    }
    #conteudo::after {
        display: none;
    }
    #hero::after {
        display: none;
    }
    .card_projeto{
        width: 100%;
        max-width: none;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 1024px) {
    #conteudo{
        display: none;
    }
}