.secao_projetos {
    padding: 4rem 0;
}

.container_projetos>p {
    font-size: 1em;
    font-weight: var(--regular);
    margin-top: .5rem;
    color: var(--grey-primary);
}

.header_projetos {
    width: 465px;
}

.header_projetos>h2, .header_projetos>p {
    color: var(--pink);
}

.header_projetos>h2 {
    margin-bottom: 1rem;
    font-size: 2.5em;
    font-weight: var(--semibold);
}

.header_projetos>p {
    font-size: 1.1em;
    font-weight: var(--regular);
}

.container_cards-projetos {
    padding: 4rem 0;
    flex-wrap: wrap;
    align-items: flex-start;
}

.content_card-projeto, .botoes_card-projeto {
    margin-top: 2rem;
}

.card_projeto {
    max-width: 460px;
    min-width: 440px;
    width: 45%;
    height: 540px;
    border: 2px solid var(--grey-primary);
    border-radius: 5px;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.card_projeto2{
    max-width: 600px !important;
    height: auto !important;
}

@media screen and (max-width: 1000px){
    .card_projeto{
        width: 100%;     
        max-width: 100%;
        height: auto;
    }
    .card_projeto2{
        max-width: 100% !important;
        width: 100%;    
    }
}

.img_card-projeto {
    width: 100%;
    border: 2px solid var(--grey-primary);
}

.content_card-projeto>h3 {
    font-size: 1.3em;
    font-weight: var(--semibold);
    color: var(--grey-primary);
}

.content_card-projeto>p {
    font-size: 1em;
    font-weight: var(--regular);
    color: var(--grey-primary);
    margin-top: .5rem;
}

.botoes_card-projeto {
    justify-content: start;
}

.card_projeto-btn:not(:first-child) {
    margin-left: 1rem;
}