@media screen and (max-width: 420px) {
    footer {
        text-align: center;
    }
}
@media screen and (max-width: 750px) {
    .links_header{
        display: none;
    }
    .link_menu-icon{
        display: block;
    }
}
@media screen and (min-width: 750px) {
    .menu-ativo{
        display: none;
    }
}