@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Quicksand:wght@500;600&display=swap');

:root {
    --white: #FFF;
    --grey-primary: #676767;
    --grey-secondary: #C7C7C7;
    --grey-tertiary: #F9F9F9;
    --yellow: #FFA216;
    --blue: #0057DA;
    --orange: #FF7B1C;
    --purple: #7129CC;
    --pink: #D92BB3;
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
}

html {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4 {
    font-family: 'Quicksand', sans-serif;
}

a, p {
    font-family: 'Montserrat', sans-serif;
}

footer>p, .logo_header>p {
    font-family: 'Quicksand', sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1440px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: transparent;
    transition: all 100ms;
    border-radius: 5px;
    justify-content: center;
    width: fit-content;
    padding: 12px 10px;
    color: var(--grey-primary);
    font-size: 1em;
    font-weight: var(--medium);
    border: 2px solid var(--grey-primary);
}

.btn p {
    margin-right: 0.75rem;
    transition: margin 100ms ease-in-out;
}

.btn:hover p {
    margin-right: 1.2rem;
}

.btn:hover {
    background-color: var(--grey-primary);
    color: var(--white);
}

.menu {
    padding: 32px 0 0;
}

.logo_header {
    color: var(--grey-primary);
}

.logo_header>h4 {
    font-size: 1.3em;
    font-weight: var(--semibold);
}

.logo_header>p {
    font-size: 1.1em;
    font-weight: var(--medium);
}

.links_header, .links_header-sm {
    list-style-type: none;
    color: var(--grey-primary);
}

.link_header {
    padding: 0.5em 2em;
    margin: 1em;
}

.link_header:hover {
    font-weight: var(--medium);
}

.links_header-sm {
    display: none;
    width: 110px;
    height: 15%;
    position: absolute;
    top: 75px;
    right: 5%;
    padding: 1em;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 5px;
    border: 2px solid var(--grey-primary);
}
.link_header-sm{
    padding: 0.5em 0 0.5em 0.5em;
}

.menu-ativo{
    display: flex;
}

.link_menu-icon {
    color: var(--grey-primary);
    display: none;
    cursor: pointer;
    font-size: 1.3em;
}

footer {
    padding: 0 0 32px;
    text-align: end;
}

footer>p {
    font-weight: var(--semibold);
    color: var(--grey-primary);
}