/* Estilização específica do contato.html */
.textos_contato>h2 {
    color: #313131;
    margin-bottom: 32px;
    font-size: 26px;
}

.textos_contato>p {
    color: #b6b6b6;
    font-size: 18px;
}

#form_contato {
    margin-top: 64px;
}

.inputs_form {
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.input_texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    margin-bottom: 32px;
}

.input_textarea {
    width: 100%;
}

.input_textarea>textarea {
    resize: none;
    height: 120px;
}

.input_texto>input, .input_texto>textarea {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #BC3FDB;
    background-color: #f3f5f7;
    font-size: 18px;
    color: #852d9b;
}

.input_texto>input:focus, .input_texto>textarea:focus {
    outline: none;
    border-color: #852d9b;
}

.input_texto>label {
    font-size: 18px;
    margin-bottom: 5px;
    color: #BC3FDB;
}

input::placeholder, textarea::placeholder {
    color: #D79AE9;
}

#btn_enviar {
    padding: 22px 42px;
    font-size: 18px;
    border-radius: 5px;
    background: linear-gradient(90deg, #DB49C4 0%, #BC3EDB 100%);
    border: none;
    color: #f3f5f7;
}

#btn_enviar:hover {
    opacity: 0.7;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .input_texto{
        width: 100%;
    }
    #btn_enviar{
        width: 100%;
    }
}