@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3, h2, p, a, label,
input::placeholder, textarea::placeholder,
input, textarea, button {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cabecalho {
    background: linear-gradient(90deg, #DB49C4 0%, #BC3EDB 100%);
    padding: 32px 0;
    color: #fff;
}

.links_menu>a {
    padding: 12px 15px;
}

.links_menu>a:hover {
    opacity: 0.5;
}

.link_ativo {
    text-decoration: underline;
}

main {
    background-color: #f3f5f7;
    padding: 64px 0;
    min-height: 90vh;
}

footer {
    text-align: center;
    padding: 8px 0;
    background-color: #BC3EDB;
    color: #fff;
}