@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Nunito:wght@600;700;800&display=swap');    

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

/* Emrbulho/Wrapper + Flexbox (Coisas reaproveitáveis) */
.wrapper{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo Seção Inicial (Menu + Banner) */
#secao-inicial{
    background-color: blueviolet;
    padding: 32px 0;
    color: #fff;
}
#logo{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}
#links-secoes{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
}
#links-secoes > a{
    padding: 10px 15px;
}
#links-secoes > a:hover{
    text-decoration: underline;
}
.btn_menu{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    color: #EA0F78;
    background-color: #fff;
    padding: 10px 22px;
    border-radius: 5px;
}
.btn_menu:hover{
    opacity: 0.9;
}