* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    margin: auto;
    width: 90%;
    max-width: 1440px;
}

.card{
    border: 2px solid green;
    margin: 0 10px;
    height: 200px;
}